<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="csMeApp.Properties.Settings.reportingappConnectionString"
            connectionString="data source=D:\GDrive\Apps\reportingapp.db"
            providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
</configuration>